@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Main CSS Styling */

/* STYLES EVERYTHING. USE WITH CAUTION */
* {
padding: 0;
margin: 0;
font-size: 16px;
font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.main {
    background-color: #98AFC7;
}

/* styling the navigation bar wrapper */
.nav-wrapper {
    width: 100vw;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

/* styling nav bar links */
.nav a {
    font-size: 1.5rem;
    color: #02386E;
    margin: 5vw;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    color: #98AFC7
}


/* styling slider wrapper */
.slider-wrapper {
margin-left: 20vw;
margin-right: 20vw;
display: flex;
justify-content: center;
padding-top: 2vh;
padding-bottom: 2vh;
}

/* styling the slideshow slider */

.slider img {
    height: 50vh;
    max-width: 100%;
    box-shadow: 0px 0px 30px #000000;
}

.slide-text {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    text-shadow: 4px 2px 10px #000000;
    left: 31vw;
}